---
http_interactions:
- request:
    method: get
    uri: https://sup2.playplay.io/api
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/hal+json
      X-Access-Token:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-do-app-origin:
      - d1ebecaf-ff7f-4a6e-8d2f-15fa29ef5ed4
      x-do-orig-status:
      - '200'
      last-modified:
      - Wed, 17 Sep 2025 14:38:27 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"_links":{"self":{"href":"https://sup2.playplay.io/api"},"status":{"href":"https://sup2.playplay.io/api/status"},"subscriptions":{"href":"https://sup2.playplay.io/api/subscriptions"},"credit_cards":{"href":"https://sup2.playplay.io/api/credit_cards"},"teams":{"href":"https://sup2.playplay.io/api/teams/{?cursor,size,sort,offset,total_count,active}","templated":true},"channels":{"href":"https://sup2.playplay.io/api/channels/{?cursor,size,sort,offset,total_count,team_id}","templated":true},"users":{"href":"https://sup2.playplay.io/api/users/{?cursor,size,sort,offset,total_count,channel_id}","templated":true},"rounds":{"href":"https://sup2.playplay.io/api/rounds/{?cursor,size,sort,offset,total_count,channel_id}","templated":true},"sups":{"href":"https://sup2.playplay.io/api/sups/{?cursor,size,sort,offset,total_count,round_id}","templated":true},"stats":{"href":"https://sup2.playplay.io/api/stats/{?round_id,channel_id,team_id}","templated":true},"user":{"href":"https://sup2.playplay.io/api/users/{id}","templated":true},"channel":{"href":"https://sup2.playplay.io/api/channels/{id}","templated":true},"team":{"href":"https://sup2.playplay.io/api/teams/{id}","templated":true},"round":{"href":"https://sup2.playplay.io/api/rounds/{id}","templated":true},"sup":{"href":"https://sup2.playplay.io/api/sups/{id}","templated":true},"data":{"href":"https://sup2.playplay.io/api/data/{id}","templated":true}}}'
  recorded_at: Wed, 17 Sep 2025 14:38:27 GMT
recorded_with: VCR 6.3.1
